<div *ngIf="DocInfo" class="my-2 p-2">
    <a style="text-decoration: none;" href="{{DocInfo.webViewLink}}" target="_blank" rel="noopener noreferrer"> 
        <h3>
            <img src="{{DocInfo.iconLink}}" alt="doc-icon"> {{(DocInfo.name.length>25)? (DocInfo.name | slice:0:25)+'...':(DocInfo.name)}}
        </h3>
    </a>
    <p>
        ...{{DocInfo.snippetFirstPart}} <b>{{DocInfo.snippetKeyWord}}</b>{{DocInfo.snippetSecondPart}}...
        <br><br>
        Last modified: {{DocInfo.modifiedTime | date:'fullDate'}}
        <br>
        Cosine similarity: {{DocInfo.cosSim}}
    </p>
</div>