<div class="d-flex flex-column">
  <div class="mb-2">
    <div class="mb-2">
      <app-app-info></app-app-info>
    </div>
    <div>
      <p>App need access to your <b>Google Drive</b>. Please, sing in by button below.</p>
      <div class="d-flex flex-column align-items-center">
        <button class="btn" (click)="SingIn()">Sing in with
          <img src="https://img.icons8.com/color/36/000000/google-logo.png" alt="Google Account"
            title="Google Account" /></button>
      </div>
    </div>
  </div>
</div>