<div class="mb-2">
  <app-info></app-info>
</div>

<form (ngSubmit)="SummarizeFiles()">
  <label class="form-label">Files:</label>
  <input id="files" class="form-control mb-2" type="file" [disabled]="processing" required multiple>
  <button type="submit" class="btn btn-primary" title="Analyze" [disabled]="processing">Summarize</button>
  <button type="button" class="ms-1 btn btn-primary" title="Analyze" [disabled]="result == ''" (click)="ClearLog()">Clear</button>
</form>

<div class="mt-2">
  Log:
  <pre class='bg-secondary text-white p-2' *ngIf="result" style="white-space: pre-wrap;">{{result}}</pre>
</div>