<div class="d-flex flex-column">
  <div class="mb-2">
    <div class="mb-2">
      <p>This app help you find documents in your <b>Cloud Storage</b>. All you need to do is type search query.</p>
      <p>App use vector space model, or <b>term vector model</b>, for representing text documents as vectors of identifiers.
        Search string also represent in vector model. Relevance rankings of documents by comparing the deviation of angles between each document vector and the search query vector.</p>
    </div>
    <div>
      <p>App need access to your <b>Google Drive</b>. Please, sing in by button below.</p>
      <div class="border-top d-flex flex-column align-items-center">
        <button class="btn" (click)="SingIn()">Sing in with
          <img src="https://img.icons8.com/color/36/000000/google-logo.png" alt="Google Account"
            title="Google Account" /></button>
      </div>
    </div>
  </div>
</div>